body{
    background-image: url(fundo-floresta.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;

}



div{
    background-color: white;
    width: 980px;
    margin: 15px auto;
    text-align: center;
    padding: 20px 0;
    img{
        width: 90%;
    }
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 33px;
    }
    
    p{
        font-size: 20px;
        padding: 0 40px;
    }
    
}

